<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A.legs</key>
    <string>A_.legs.glif</string>
    <key>R.leg</key>
    <string>R_.leg.glif</string>
    <key>R.lobe</key>
    <string>R_.lobe.glif</string>
    <key>S.curve</key>
    <string>S_.curve.glif</string>
    <key>T.top</key>
    <string>T_.top.glif</string>
    <key>space</key>
    <string>space.glif</string>
  </dict>
</plist>
